/* Estilos para las tablas */
table {
    width: 75%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los textos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

form{
    width: 100%;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#editar[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editar[type="submit"]:hover {
    background-color: #45a049;
}

#eliminar[type="submit"] {
    width: 100%;
    background-color: #e42727;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#eliminar[type="submit"]:hover {
    background-color: #630c0c;
}

#crear[type="submit"] {
    width: 100%;
    background-color: #0d6eff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#crear[type="submit"]:hover {
    background-color: #0c4063;
}

.form_usuario{
    width: 50%;
    margin: 0 auto;
}

#volver {
    width: 100%;
    background-color: #962603;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#volver:hover {
    background-color: #630c0c;
}